*{ box-sizing: border-box }

img {
   width: 100%;
   display: block;
}

#app-container{
  margin: 0 auto 0 35px;
}

.column-container {
  display: inline-block;
  width: 30%;
  background-color: #c8f7c5;
  margin: 10px 15px 10px 15px;
  padding: 20px 0px 20px 7px;
}
